In [1]:
import numpy as np
import pandas as pd

In [2]:
accounts = pd.read_csv("data/accounts.csv", low_memory=False)
comments = pd.read_csv("data/comments.csv", low_memory=False)
genres = pd.read_csv("data/genres.csv", low_memory=False)
interactions = pd.read_csv("data/interactions.csv", low_memory=False)
reads = pd.read_csv("data/reads.csv", low_memory=False)
stories = pd.read_csv("data/stories.csv", low_memory=False)

# Stories

In [3]:
stories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171237 entries, 0 to 171236
Data columns (total 16 columns):
STORY_ID              171237 non-null int64
CREATE_TIME           171237 non-null int64
MODIFIED_TIME         171237 non-null int64
RATING                171237 non-null object
CATEGORY_REF          158861 non-null float64
EXTRA_CATEGORY_REF    96745 non-null object
STORY_LANGUAGE        171237 non-null object
NR_OF_CHAPTERS        171237 non-null int64
IS_PUBLISHED          171237 non-null int64
IS_FINISHED           171237 non-null int64
HAS_COVER             171237 non-null bool
COPYRIGHT_REF         171237 non-null int64
IS_CLASSIC            171237 non-null int64
FIRST_PUBLISHED       105763 non-null float64
LAST_CHANGED          137741 non-null float64
ACCOUNT_ID            171237 non-null int64
dtypes: bool(1), float64(3), int64(9), object(3)
memory usage: 19.8+ MB

In [4]:
stories.dropna(how='all', inplace=True)

In [5]:
# Change all date columns to proper data type.
stories['CREATE_TIME'].astype(float, inplace=True)
stories['MODIFIED_TIME'].astype(float, inplace=True)
stories['FIRST_PUBLISHED'].astype(float, inplace=True)
stories['LAST_CHANGED'].astype(float, inplace=True)

0                  NaN
1                  NaN
2         1.472350e+12
3         1.475540e+12
4                  NaN
5         1.477860e+12
6                  NaN
7         1.479050e+12
8         1.536730e+12
9         1.479310e+12
10        1.479210e+12
11                 NaN
12                 NaN
13        1.480290e+12
14                 NaN
15        1.480300e+12
16                 NaN
17                 NaN
18                 NaN
19        1.480930e+12
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24        1.481840e+12
25                 NaN
26                 NaN
27        1.483310e+12
28                 NaN
29                 NaN
              ...
171207    1.527440e+12
171208    1.528880e+12
171209    1.527670e+12
171210    1.527670e+12
171211    1.527890e+12
171212             NaN
171213    1.527780e+12
171214    1.527780e+12
171215    1.527780e+12
171216             NaN
171217    1.528060e+12
171218    1.528120e+12
171219    1.528120e+12
171220    1.529400e+12
171221    1.528580e+12
171222    1.528310e+12
171223    1.529700e+12
171224    1.528390e+12
171225    1.528360e+12
171226    1.528380e+12
171227             NaN
171228             NaN
171229    1.541930e+12
171230    1.542460e+12
171231    1.549450e+12
171232    1.535630e+12
171233    1.535630e+12
171234    1.541790e+12
171235    1.543350e+12
171236    1.528660e+12
Name: LAST_CHANGED, Length: 171237, dtype: float64

In [6]:
stories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171237 entries, 0 to 171236
Data columns (total 16 columns):
STORY_ID              171237 non-null int64
CREATE_TIME           171237 non-null int64
MODIFIED_TIME         171237 non-null int64
RATING                171237 non-null object
CATEGORY_REF          158861 non-null float64
EXTRA_CATEGORY_REF    96745 non-null object
STORY_LANGUAGE        171237 non-null object
NR_OF_CHAPTERS        171237 non-null int64
IS_PUBLISHED          171237 non-null int64
IS_FINISHED           171237 non-null int64
HAS_COVER             171237 non-null bool
COPYRIGHT_REF         171237 non-null int64
IS_CLASSIC            171237 non-null int64
FIRST_PUBLISHED       105763 non-null float64
LAST_CHANGED          137741 non-null float64
ACCOUNT_ID            171237 non-null int64
dtypes: bool(1), float64(3), int64(9), object(3)
memory usage: 21.1+ MB

In [7]:
stories['CREATE_TIME'] = pd.to_datetime(stories['CREATE_TIME'], unit='ms')
stories['MODIFIED_TIME'] = pd.to_datetime(stories['MODIFIED_TIME'], unit='ms')
stories['FIRST_PUBLISHED'] = pd.to_datetime(stories['FIRST_PUBLISHED'], unit='ms')
stories['LAST_CHANGED'] = pd.to_datetime(stories['LAST_CHANGED'], unit='ms')
stories.head()

,STORY_ID,CREATE_TIME,MODIFIED_TIME,RATING,CATEGORY_REF,EXTRA_CATEGORY_REF,STORY_LANGUAGE,NR_OF_CHAPTERS,IS_PUBLISHED,IS_FINISHED,HAS_COVER,COPYRIGHT_REF,IS_CLASSIC,FIRST_PUBLISHED,LAST_CHANGED,ACCOUNT_ID
0,1,2016-08-10 20:13:20,2016-08-10 20:13:20,safe,0.0,NaN,spa,1,0,0,False,1,0,NaT,NaT,3197
1,2,2016-08-27 23:20:00,2016-08-27 23:20:00,safe,0.0,NaN,spa,0,0,0,False,1,0,NaT,NaT,3312
2,3,2016-08-28 02:06:40,2016-08-28 02:06:40,safe,1.0,23,spa,2,1,0,True,1,0,2016-08-28 02:06:40,2016-08-28 02:06:40,3408
3,4,2016-10-04 00:13:20,2016-10-04 00:13:20,safe,13.0,0,spa,1,1,0,True,1,0,2016-10-04 00:13:20,2016-10-04 00:13:20,4732
4,5,2016-10-06 21:40:00,2016-10-06 21:40:00,safe,0.0,NaN,spa,0,0,0,False,1,0,NaT,NaT,5059

In [8]:
stories.drop(columns=['FIRST_PUBLISHED','LAST_CHANGED'], inplace=True)

In [9]:
stories['EXTRA_CATEGORY_REF'] = pd.to_numeric(stories['EXTRA_CATEGORY_REF'], errors='coerce')

In [10]:
# Set story language to categorical variables.
stories['STORY_LANGUAGE'] = stories['STORY_LANGUAGE'].astype('category')

In [11]:
# Set copyright to categorical variables.
stories['COPYRIGHT_REF'] = stories['COPYRIGHT_REF'].astype('category')

In [12]:
# Set is_classic to a boolean variable
stories['IS_CLASSIC'] = stories['IS_CLASSIC'].astype('bool')

In [35]:
stories.rename(columns={'ACCOUNT_ID':'AUTHOR_ID'},inplace=True)

In [13]:
stories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171237 entries, 0 to 171236
Data columns (total 14 columns):
STORY_ID              171237 non-null int64
CREATE_TIME           171237 non-null datetime64[ns]
MODIFIED_TIME         171237 non-null datetime64[ns]
RATING                171237 non-null object
CATEGORY_REF          158861 non-null float64
EXTRA_CATEGORY_REF    65437 non-null float64
STORY_LANGUAGE        171237 non-null category
NR_OF_CHAPTERS        171237 non-null int64
IS_PUBLISHED          171237 non-null int64
IS_FINISHED           171237 non-null int64
HAS_COVER             171237 non-null bool
COPYRIGHT_REF         171237 non-null category
IS_CLASSIC            171237 non-null bool
ACCOUNT_ID            171237 non-null int64
dtypes: bool(2), category(2), datetime64[ns](2), float64(2), int64(5), object(1)
memory usage: 15.0+ MB

# Accounts/users

In [14]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568861 entries, 0 to 568860
Data columns (total 7 columns):
ACCOUNT_ID    568861 non-null int64
CREATED_AT    551522 non-null object
UPDATED_AT    551522 non-null object
GENDER        551522 non-null float64
DOB           60200 non-null object
READLANG      551522 non-null object
FROMSOCIAL    249848 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 30.4+ MB

In [15]:
# Date columns to datetime
accounts['CREATED_AT'] = pd.to_datetime(accounts['CREATED_AT'], errors='coerce')
accounts['UPDATED_AT'] = pd.to_datetime(accounts['UPDATED_AT'], errors='coerce')
accounts['DOB'] = pd.to_datetime(accounts['DOB'], errors='coerce')

In [16]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568861 entries, 0 to 568860
Data columns (total 7 columns):
ACCOUNT_ID    568861 non-null int64
CREATED_AT    551522 non-null datetime64[ns]
UPDATED_AT    551521 non-null datetime64[ns]
GENDER        551522 non-null float64
DOB           60200 non-null datetime64[ns]
READLANG      551522 non-null object
FROMSOCIAL    249848 non-null object
dtypes: datetime64[ns](3), float64(1), int64(1), object(2)
memory usage: 30.4+ MB

In [17]:
accounts['GENDER'] = accounts['GENDER'].astype('category')

In [18]:
accounts['READLANG'] = accounts['READLANG'].astype('category')

In [19]:
accounts['FROMSOCIAL'] = accounts['FROMSOCIAL'].fillna(0)
accounts['FROMSOCIAL'] = accounts['FROMSOCIAL'].replace(to_replace='facebook',value=1)

In [20]:
accounts['FROMSOCIAL'] = accounts['FROMSOCIAL'].astype('bool')

In [21]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568861 entries, 0 to 568860
Data columns (total 7 columns):
ACCOUNT_ID    568861 non-null int64
CREATED_AT    551522 non-null datetime64[ns]
UPDATED_AT    551521 non-null datetime64[ns]
GENDER        551522 non-null category
DOB           60200 non-null datetime64[ns]
READLANG      551522 non-null category
FROMSOCIAL    568861 non-null bool
dtypes: bool(1), category(2), datetime64[ns](3), int64(1)
memory usage: 19.0 MB

# Comments

In [22]:
comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225265 entries, 0 to 225264
Data columns (total 7 columns):
COMMENT_ID             225265 non-null int64
CREATE_TIME            225265 non-null int64
ACCOUNT_ID             225265 non-null int64
STORY_ID               225265 non-null int64
PREVIOUS_COMMENT_ID    49462 non-null float64
DELETED                225265 non-null int64
WORD_COUNT             225265 non-null int64
dtypes: float64(1), int64(6)
memory usage: 12.0 MB

In [23]:
# Convert create_time to datetime and rename
comments['CREATE_TIME'].astype(float, inplace=True)
comments['CREATE_TIME'] = pd.to_datetime(comments['CREATE_TIME'], unit='ms')
comments.rename(columns={'CREATE_TIME':'COMMENT_TIME'}, inplace=True)

In [24]:
# WHAT THE FUCK IS THE 2
comments['DELETED'] = comments['DELETED'].astype('category')

In [25]:
comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225265 entries, 0 to 225264
Data columns (total 7 columns):
COMMENT_ID             225265 non-null int64
COMMENT_TIME           225265 non-null datetime64[ns]
ACCOUNT_ID             225265 non-null int64
STORY_ID               225265 non-null int64
PREVIOUS_COMMENT_ID    49462 non-null float64
DELETED                225265 non-null category
WORD_COUNT             225265 non-null int64
dtypes: category(1), datetime64[ns](1), float64(1), int64(4)
memory usage: 10.5 MB

# Interactions

In [26]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
INTERACTION_ID       1048575 non-null int64
SERVER_EVENT_TIME    1048575 non-null int64
ACCOUNT_ID           1048575 non-null int64
INTERACTION_TYPE     1048575 non-null int64
STORY_ID             1048575 non-null int64
dtypes: int64(5)
memory usage: 40.0 MB

In [27]:
# Convert SERVER_EVENT_TIME to datetime
interactions['SERVER_EVENT_TIME'].astype(float, inplace=True)
interactions['SERVER_EVENT_TIME'] = pd.to_datetime(interactions['SERVER_EVENT_TIME'], unit='ms')
interactions.rename(columns={'SERVER_EVENT_TIME':'INTERACTION_TIME'}, inplace=True)

In [28]:
# Set interaction type to category
interactions['INTERACTION_TYPE'] = interactions['INTERACTION_TYPE'].astype('category')

In [29]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
INTERACTION_ID      1048575 non-null int64
INTERACTION_TIME    1048575 non-null datetime64[ns]
ACCOUNT_ID          1048575 non-null int64
INTERACTION_TYPE    1048575 non-null category
STORY_ID            1048575 non-null int64
dtypes: category(1), datetime64[ns](1), int64(3)
memory usage: 33.0 MB

# Reads

In [30]:
reads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048460 entries, 0 to 1048459
Data columns (total 5 columns):
READ_ID              1048460 non-null int64
SERVER_EVENT_TIME    1048460 non-null int64
ACCOUNT_ID           1048460 non-null int64
COUNT                1048460 non-null int64
STORY_ID             1048460 non-null int64
dtypes: int64(5)
memory usage: 40.0 MB

In [31]:
# Convert SERVER_EVENT_TIME to datetime
reads['SERVER_EVENT_TIME'].astype(float, inplace=True)
reads['SERVER_EVENT_TIME'] = pd.to_datetime(reads['SERVER_EVENT_TIME'], unit='ms')
reads.rename(columns={'SERVER_EVENT_TIME':'READ_TIME'}, inplace=True)

In [32]:
reads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048460 entries, 0 to 1048459
Data columns (total 5 columns):
READ_ID       1048460 non-null int64
READ_TIME     1048460 non-null datetime64[ns]
ACCOUNT_ID    1048460 non-null int64
COUNT         1048460 non-null int64
STORY_ID      1048460 non-null int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 40.0 MB

# Merging

In [64]:
# Aggregate sum of reads, comments and interactions
comments['NUMBER_OF_COMMENTS'] = comments.groupby('STORY_ID')['STORY_ID'].transform('count')

,COMMENT_ID,COMMENT_TIME,ACCOUNT_ID,STORY_ID,PREVIOUS_COMMENT_ID,DELETED,WORD_COUNT,NUMBER_OF_COMMENTS
0,1,2016-11-13 01:20:00,7432,42090,NaN,0,11,1
1,2,2016-11-14 16:13:20,7427,42167,NaN,0,20,84
2,3,2016-11-14 19:00:00,7295,42205,NaN,0,3,12
3,4,2016-11-18 03:33:20,7350,42766,NaN,0,7,4
4,5,2016-11-21 17:40:00,9264,34270,NaN,0,6,40
5,6,2016-11-21 23:13:20,9477,42700,NaN,0,15,26
6,7,2016-11-29 03:26:40,10146,14169,NaN,0,3,33
7,8,2016-11-27 04:13:20,10720,43568,NaN,0,5,48
8,9,2016-11-27 23:40:00,11183,42167,NaN,0,3,84
9,10,2017-09-28 09:13:20,11442,27995,NaN,0,3,1969
10,11,2017-07-07 20:40:00,9626,60358,NaN,1,19,62
11,12,2016-11-29 00:40:00,11613,43568,NaN,0,1,48
12,13,2017-01-06 13:40:00,11385,31720,NaN,0,8,3
13,14,2016-12-02 20:20:00,12835,34270,NaN,0,11,40
14,15,2016-12-07 03:06:40,13142,34270,NaN,0,5,40
15,16,2016-12-08 01:20:00,14275,43588,NaN,0,11,65
16,17,2016-12-07 17:00:00,14873,43588,NaN,0,5,65
17,18,2017-02-08 18:53:20,15998,47465,NaN,0,7,2
18,19,2016-12-29 00:06:40,16392,5332,NaN,0,54,5
19,20,2016-12-30 03:53:20,16587,43121,NaN,0,6,19
20,21,2016-12-31 04:53:20,17232,44575,NaN,0,1,25
21,22,2016-12-31 04:53:20,17240,44575,NaN,0,3,25
22,23,2017-01-05 15:26:40,17896,31,NaN,0,1,4
23,24,2017-01-05 04:20:00,18767,127979,NaN,0,1,106
24,25,2017-05-04 17:46:40,19642,148741,NaN,0,15,404
25,26,2017-04-02 02:26:40,19437,3828,NaN,0,10,1
26,27,2017-01-09 00:00:00,20034,44443,NaN,0,18,47
27,28,2017-01-10 17:40:00,20230,114598,NaN,0,2,2
28,29,2017-01-10 17:40:00,20360,6815,NaN,0,8,1
29,30,2017-01-13 23:26:40,20587,114943,NaN,0,1,127
...,...,...,...,...,...,...,...,...
225235,187030,2017-09-14 20:13:20,568859,159543,NaN,0,6,11
225236,187031,2017-09-14 20:13:20,568859,121315,NaN,0,8,10
225237,188764,2018-08-09 15:53:20,568801,145516,NaN,0,1,137
225238,192530,2018-08-09 15:53:20,568826,149956,NaN,0,4,18
225239,193732,2018-08-09 15:53:20,568843,50116,NaN,0,9,136
225240,193868,2018-08-09 15:53:20,568836,145639,NaN,0,48,18
225241,198667,2018-12-04 07:53:20,568820,55627,NaN,0,12,1
225242,199551,2017-11-22 14:13:20,568817,160449,NaN,0,10,760
225243,199657,2018-12-04 07:53:20,568861,152393,NaN,0,21,1
225244,200644,2018-12-04 07:53:20,568808,167694,NaN,0,10,1
225245,200744,2018-12-24 14:00:00,568857,153333,NaN,0,4,10
225246,200745,2018-12-04 07:53:20,568857,153329,NaN,0,5,4
225247,200746,2018-12-04 07:53:20,568810,153333,NaN,2,21,10
225248,200818,2018-12-04 07:53:20,568839,153333,NaN,2,5,10
225249,200819,2018-12-24 14:00:00,568793,153329,NaN,2,1,4
225250,200820,2018-12-04 07:53:20,568793,153333,NaN,0,12,10
225251,202215,2019-01-14 10:00:00,568851,153898,NaN,0,3,8
225252,202695,2017-11-29 21:13:20,568824,160449,NaN,0,13,760
225253,202698,2017-11-29 21:13:20,568824,160449,NaN,0,14,760
225254,206930,2019-01-14 10:00:00,568814,171172,NaN,0,31,5
225255,206931,2019-01-14 10:00:00,568814,171172,NaN,0,29,5
225256,206933,2019-01-14 10:00:00,568814,168355,NaN,0,40,2
225257,207673,2019-01-14 10:00:00,568850,60777,NaN,0,2,5
225258,208715,2018-01-05 16:33:20,568845,56827,NaN,0,8,30
225259,209896,2018-01-22 14:06:40,568819,165002,NaN,0,1,391
225260,210789,2018-02-05 17:00:00,568844,165002,NaN,0,23,391
225261,213253,2018-03-01 21:33:20,568796,167796,NaN,0,24,138
225262,215084,2018-03-19 20:06:40,568840,70708,NaN,2,1,81
225263,215434,2018-03-22 17:33:20,568794,15337,NaN,0,23,5
225264,225263,2018-06-10 17:00:00,568846,168091,NaN,0,7,364

In [65]:
# Create a temporary dataframe with only number of comments and the story ID
tempComments = comments.drop_duplicates(subset='STORY_ID')

In [81]:
tempComments.head()
#tempComments.drop(columns=['COMMENT_ID','COMMENT_TIME','ACCOUNT_ID','PREVIOUS_COMMENT_ID','DELETED','WORD_COUNT'])

   STORY_ID  NUMBER_OF_COMMENTS
0     42090                   1
1     42167                  84
2     42205                  12
3     42766                   4
4     34270                  40

In [76]:
Sweek = pd.merge(stories, tempComments, on='STORY_ID', how='left')

In [82]:
Sweek.head()

,STORY_ID,CREATE_TIME,MODIFIED_TIME,RATING,CATEGORY_REF,EXTRA_CATEGORY_REF,STORY_LANGUAGE,NR_OF_CHAPTERS,IS_PUBLISHED,IS_FINISHED,HAS_COVER,COPYRIGHT_REF,IS_CLASSIC,AUTHOR_ID,NUMBER_OF_COMMENTS
0,1,2016-08-10 20:13:20,2016-08-10 20:13:20,safe,0.0,NaN,spa,1,0,0,False,1,False,3197,NaN
1,2,2016-08-27 23:20:00,2016-08-27 23:20:00,safe,0.0,NaN,spa,0,0,0,False,1,False,3312,NaN
2,3,2016-08-28 02:06:40,2016-08-28 02:06:40,safe,1.0,23.0,spa,2,1,0,True,1,False,3408,NaN
3,4,2016-10-04 00:13:20,2016-10-04 00:13:20,safe,13.0,0.0,spa,1,1,0,True,1,False,4732,NaN
4,5,2016-10-06 21:40:00,2016-10-06 21:40:00,safe,0.0,NaN,spa,0,0,0,False,1,False,5059,NaN