In [155]:
import numpy as np
import pandas as pd

In [156]:
accounts = pd.read_csv("data/accounts.csv", low_memory=False)
comments = pd.read_csv("data/comments.csv", low_memory=False)
genres = pd.read_csv("data/genres.csv", low_memory=False)
interactions = pd.read_csv("data/interactions.csv", low_memory=False)
reads = pd.read_csv("data/reads.csv", low_memory=False)
stories = pd.read_csv("data/stories.csv", low_memory=False)

# Stories

In [157]:
stories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171237 entries, 0 to 171236
Data columns (total 16 columns):
STORY_ID              171237 non-null int64
CREATE_TIME           171237 non-null int64
MODIFIED_TIME         171237 non-null int64
RATING                171237 non-null object
CATEGORY_REF          158861 non-null float64
EXTRA_CATEGORY_REF    96745 non-null object
STORY_LANGUAGE        171237 non-null object
NR_OF_CHAPTERS        171237 non-null int64
IS_PUBLISHED          171237 non-null int64
IS_FINISHED           171237 non-null int64
HAS_COVER             171237 non-null bool
COPYRIGHT_REF         171237 non-null int64
IS_CLASSIC            171237 non-null int64
FIRST_PUBLISHED       105763 non-null float64
LAST_CHANGED          137741 non-null float64
ACCOUNT_ID            171237 non-null int64
dtypes: bool(1), float64(3), int64(9), object(3)
memory usage: 19.8+ MB

In [158]:
stories.dropna(how='all', inplace=True)

In [159]:
# Change all date columns to proper data type.
stories['CREATE_TIME'].astype(float, inplace=True)
stories['MODIFIED_TIME'].astype(float, inplace=True)
stories['FIRST_PUBLISHED'].astype(float, inplace=True)
stories['LAST_CHANGED'].astype(float, inplace=True)

0                  NaN
1                  NaN
2         1.472350e+12
3         1.475540e+12
4                  NaN
5         1.477860e+12
6                  NaN
7         1.479050e+12
8         1.536730e+12
9         1.479310e+12
10        1.479210e+12
11                 NaN
12                 NaN
13        1.480290e+12
14                 NaN
15        1.480300e+12
16                 NaN
17                 NaN
18                 NaN
19        1.480930e+12
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24        1.481840e+12
25                 NaN
26                 NaN
27        1.483310e+12
28                 NaN
29                 NaN
              ...
171207    1.527440e+12
171208    1.528880e+12
171209    1.527670e+12
171210    1.527670e+12
171211    1.527890e+12
171212             NaN
171213    1.527780e+12
171214    1.527780e+12
171215    1.527780e+12
171216             NaN
171217    1.528060e+12
171218    1.528120e+12
171219    1.528120e+12
171220    1.529400e+12
171221    1.528580e+12
171222    1.528310e+12
171223    1.529700e+12
171224    1.528390e+12
171225    1.528360e+12
171226    1.528380e+12
171227             NaN
171228             NaN
171229    1.541930e+12
171230    1.542460e+12
171231    1.549450e+12
171232    1.535630e+12
171233    1.535630e+12
171234    1.541790e+12
171235    1.543350e+12
171236    1.528660e+12
Name: LAST_CHANGED, Length: 171237, dtype: float64

In [160]:
stories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171237 entries, 0 to 171236
Data columns (total 16 columns):
STORY_ID              171237 non-null int64
CREATE_TIME           171237 non-null int64
MODIFIED_TIME         171237 non-null int64
RATING                171237 non-null object
CATEGORY_REF          158861 non-null float64
EXTRA_CATEGORY_REF    96745 non-null object
STORY_LANGUAGE        171237 non-null object
NR_OF_CHAPTERS        171237 non-null int64
IS_PUBLISHED          171237 non-null int64
IS_FINISHED           171237 non-null int64
HAS_COVER             171237 non-null bool
COPYRIGHT_REF         171237 non-null int64
IS_CLASSIC            171237 non-null int64
FIRST_PUBLISHED       105763 non-null float64
LAST_CHANGED          137741 non-null float64
ACCOUNT_ID            171237 non-null int64
dtypes: bool(1), float64(3), int64(9), object(3)
memory usage: 21.1+ MB

In [161]:
stories['CREATE_TIME'] = pd.to_datetime(stories['CREATE_TIME'], unit='ms')
stories['MODIFIED_TIME'] = pd.to_datetime(stories['MODIFIED_TIME'], unit='ms')
stories['FIRST_PUBLISHED'] = pd.to_datetime(stories['FIRST_PUBLISHED'], unit='ms')
stories['LAST_CHANGED'] = pd.to_datetime(stories['LAST_CHANGED'], unit='ms')
stories.head()

,STORY_ID,CREATE_TIME,MODIFIED_TIME,RATING,CATEGORY_REF,EXTRA_CATEGORY_REF,STORY_LANGUAGE,NR_OF_CHAPTERS,IS_PUBLISHED,IS_FINISHED,HAS_COVER,COPYRIGHT_REF,IS_CLASSIC,FIRST_PUBLISHED,LAST_CHANGED,ACCOUNT_ID
0,1,2016-08-10 20:13:20,2016-08-10 20:13:20,safe,0.0,NaN,spa,1,0,0,False,1,0,NaT,NaT,3197
1,2,2016-08-27 23:20:00,2016-08-27 23:20:00,safe,0.0,NaN,spa,0,0,0,False,1,0,NaT,NaT,3312
2,3,2016-08-28 02:06:40,2016-08-28 02:06:40,safe,1.0,23,spa,2,1,0,True,1,0,2016-08-28 02:06:40,2016-08-28 02:06:40,3408
3,4,2016-10-04 00:13:20,2016-10-04 00:13:20,safe,13.0,0,spa,1,1,0,True,1,0,2016-10-04 00:13:20,2016-10-04 00:13:20,4732
4,5,2016-10-06 21:40:00,2016-10-06 21:40:00,safe,0.0,NaN,spa,0,0,0,False,1,0,NaT,NaT,5059

In [162]:
stories.drop(columns=['FIRST_PUBLISHED','LAST_CHANGED'], inplace=True)

In [163]:
stories['EXTRA_CATEGORY_REF'] = pd.to_numeric(stories['EXTRA_CATEGORY_REF'], errors='coerce')

In [164]:
# Set story language to categorical variables.
stories['STORY_LANGUAGE'] = stories['STORY_LANGUAGE'].astype('category')

In [165]:
# Set copyright to categorical variables.
stories['COPYRIGHT_REF'] = stories['COPYRIGHT_REF'].astype('category')

In [166]:
# Set is_classic to a boolean variable
stories['IS_CLASSIC'] = stories['IS_CLASSIC'].astype('bool')

In [167]:
stories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171237 entries, 0 to 171236
Data columns (total 14 columns):
STORY_ID              171237 non-null int64
CREATE_TIME           171237 non-null datetime64[ns]
MODIFIED_TIME         171237 non-null datetime64[ns]
RATING                171237 non-null object
CATEGORY_REF          158861 non-null float64
EXTRA_CATEGORY_REF    65437 non-null float64
STORY_LANGUAGE        171237 non-null category
NR_OF_CHAPTERS        171237 non-null int64
IS_PUBLISHED          171237 non-null int64
IS_FINISHED           171237 non-null int64
HAS_COVER             171237 non-null bool
COPYRIGHT_REF         171237 non-null category
IS_CLASSIC            171237 non-null bool
ACCOUNT_ID            171237 non-null int64
dtypes: bool(2), category(2), datetime64[ns](2), float64(2), int64(5), object(1)
memory usage: 15.0+ MB

# Accounts/users

In [168]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568861 entries, 0 to 568860
Data columns (total 7 columns):
ACCOUNT_ID    568861 non-null int64
CREATED_AT    551522 non-null object
UPDATED_AT    551522 non-null object
GENDER        551522 non-null float64
DOB           60200 non-null object
READLANG      551522 non-null object
FROMSOCIAL    249848 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 30.4+ MB

In [169]:
# Date columns to datetime
accounts['CREATED_AT'] = pd.to_datetime(accounts['CREATED_AT'], errors='coerce')
accounts['UPDATED_AT'] = pd.to_datetime(accounts['UPDATED_AT'], errors='coerce')
accounts['DOB'] = pd.to_datetime(accounts['DOB'], errors='coerce')

In [170]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568861 entries, 0 to 568860
Data columns (total 7 columns):
ACCOUNT_ID    568861 non-null int64
CREATED_AT    551522 non-null datetime64[ns]
UPDATED_AT    551521 non-null datetime64[ns]
GENDER        551522 non-null float64
DOB           60200 non-null datetime64[ns]
READLANG      551522 non-null object
FROMSOCIAL    249848 non-null object
dtypes: datetime64[ns](3), float64(1), int64(1), object(2)
memory usage: 30.4+ MB

In [171]:
accounts['GENDER'] = accounts['GENDER'].astype('category')

In [172]:
accounts['READLANG'] = accounts['READLANG'].astype('category')

In [173]:
accounts['FROMSOCIAL'] = accounts['FROMSOCIAL'].fillna(0)
accounts['FROMSOCIAL'] = accounts['FROMSOCIAL'].replace(to_replace='facebook',value=1)

In [174]:
accounts['FROMSOCIAL'] = accounts['FROMSOCIAL'].astype('bool')

In [175]:
accounts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568861 entries, 0 to 568860
Data columns (total 7 columns):
ACCOUNT_ID    568861 non-null int64
CREATED_AT    551522 non-null datetime64[ns]
UPDATED_AT    551521 non-null datetime64[ns]
GENDER        551522 non-null category
DOB           60200 non-null datetime64[ns]
READLANG      551522 non-null category
FROMSOCIAL    568861 non-null bool
dtypes: bool(1), category(2), datetime64[ns](3), int64(1)
memory usage: 19.0 MB

# Comments

In [176]:
comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225265 entries, 0 to 225264
Data columns (total 7 columns):
COMMENT_ID             225265 non-null int64
CREATE_TIME            225265 non-null int64
ACCOUNT_ID             225265 non-null int64
STORY_ID               225265 non-null int64
PREVIOUS_COMMENT_ID    49462 non-null float64
DELETED                225265 non-null int64
WORD_COUNT             225265 non-null int64
dtypes: float64(1), int64(6)
memory usage: 12.0 MB

In [177]:
# Convert create_time to datetime and rename
comments['CREATE_TIME'].astype(float, inplace=True)
comments['CREATE_TIME'] = pd.to_datetime(comments['CREATE_TIME'], unit='ms')
comments.rename(columns={'CREATE_TIME':'COMMENT_TIME'}, inplace=True)

In [178]:
# WHAT THE FUCK IS THE 2
comments['DELETED'] = comments['DELETED'].astype('category')

In [179]:
comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225265 entries, 0 to 225264
Data columns (total 7 columns):
COMMENT_ID             225265 non-null int64
COMMENT_TIME           225265 non-null datetime64[ns]
ACCOUNT_ID             225265 non-null int64
STORY_ID               225265 non-null int64
PREVIOUS_COMMENT_ID    49462 non-null float64
DELETED                225265 non-null category
WORD_COUNT             225265 non-null int64
dtypes: category(1), datetime64[ns](1), float64(1), int64(4)
memory usage: 10.5 MB

# Interactions

In [180]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
INTERACTION_ID       1048575 non-null int64
SERVER_EVENT_TIME    1048575 non-null int64
ACCOUNT_ID           1048575 non-null int64
INTERACTION_TYPE     1048575 non-null int64
STORY_ID             1048575 non-null int64
dtypes: int64(5)
memory usage: 40.0 MB

In [181]:
# Convert SERVER_EVENT_TIME to datetime
interactions['SERVER_EVENT_TIME'].astype(float, inplace=True)
interactions['SERVER_EVENT_TIME'] = pd.to_datetime(interactions['SERVER_EVENT_TIME'], unit='ms')
interactions.rename(columns={'SERVER_EVENT_TIME':'INTERACTION_TIME'}, inplace=True)

In [182]:
# Set interaction type to category
interactions['INTERACTION_TYPE'] = interactions['INTERACTION_TYPE'].astype('category')

In [183]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
INTERACTION_ID      1048575 non-null int64
INTERACTION_TIME    1048575 non-null datetime64[ns]
ACCOUNT_ID          1048575 non-null int64
INTERACTION_TYPE    1048575 non-null category
STORY_ID            1048575 non-null int64
dtypes: category(1), datetime64[ns](1), int64(3)
memory usage: 33.0 MB

# Reads

In [184]:
reads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048460 entries, 0 to 1048459
Data columns (total 5 columns):
READ_ID              1048460 non-null int64
SERVER_EVENT_TIME    1048460 non-null int64
ACCOUNT_ID           1048460 non-null int64
COUNT                1048460 non-null int64
STORY_ID             1048460 non-null int64
dtypes: int64(5)
memory usage: 40.0 MB

In [185]:
# Convert SERVER_EVENT_TIME to datetime
reads['SERVER_EVENT_TIME'].astype(float, inplace=True)
reads['SERVER_EVENT_TIME'] = pd.to_datetime(reads['SERVER_EVENT_TIME'], unit='ms')
reads.rename(columns={'SERVER_EVENT_TIME':'READ_TIME'}, inplace=True)

In [186]:
reads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048460 entries, 0 to 1048459
Data columns (total 5 columns):
READ_ID       1048460 non-null int64
READ_TIME     1048460 non-null datetime64[ns]
ACCOUNT_ID    1048460 non-null int64
COUNT         1048460 non-null int64
STORY_ID      1048460 non-null int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 40.0 MB